/*font famliy*/
body {
    font-family: "Lora", serif;
    margin: 0;

}

/*header*/
header {
    background-color: #ffe0e0;
    padding: 1rem 10px;

}

header span {
    color: #20222B;
    font-size: 1.6rem;
    font-weight: 700;
}

/*navigation*/
nav {
    background-color: #c93651;

}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}

nav a {
    display: block;
    padding: 0.83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #fdefe2;
    font-weight: 700;
}

nav li.active a {
    background-color: #fdefe2;
    color: #b80037
}

nav li a:hover {
    color: #20222B;
}

/*main*/
main {
    padding: 1rem 10px;
}

main h1 {
    color: #b80037;
}

main h2 {
    color: #c93651;
    margin-bottom: .2rem;
}

main h3 {
    color: #20222B
}

main p {
    margin: 0;
    color: #20222B;
}

main ol {
    font-size: .9rem;
    padding: .5rem 30px;
    background-color: #fdefe2;
}

main dl dt {
    color: #F25252;
    font-weight: 700;
    margin-top: 1rem;
}

main dl dd {
    color: #20222B;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .4rem;
    font-size: .9rem;
}

main h2 strong {
    font-weight: 700;
    color: #b80037;
}

main em {
    font-weight: 400;
}

main address {
    font-style: normal;
    background-color: #ffe0e0;
    padding: .5rem;
    border-radius: 10px;
    border: 0.25px solid #c93651;
    width: 200px;
}

main a {
    color: #F25252
}

main a:hover {
    color: RGB(184, 0, 55);
}

/*footer*/
footer {
    background-color: #fdefe2;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
    font-size: .8rem;
    color: #20222B;
    letter-spacing: 1.5px;
}